:root {
    --border-and-project-title-bg-color: lightblue;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: #2b91a6;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-height: fit-content;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    width: 30%;
    text-align: center;
    font-size: 3vw;
}

header h1 span {
    font-size: 2vw;
}

header nav {
    margin: 7px 0;
    width: 50%;
    height: auto;
}

header nav ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    vertical-align: middle;
    height: 100%;
}

header li {
    vertical-align: middle;
}
header nav ul li a {
    align-items: center;
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 3vw;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    text-decoration: none;
    color: black;
}

header div {
    width: 15%;
    margin: 10px;  
}
.profile-photo img {
    width: 80%;
    border-radius: 30%;
}

section {
    padding: 30px;
    width: 100%;
    margin: 10 auto;
    display: flex;
    justify-content: space-around;  
}

.section-title {
    width: 20%;
    height: auto;
    text-align: right;
    font-size: 30px;
    border-right: 3px solid black;
    padding-right: 5px;
}

.projects, .resume, .contact-info {
    width: 80%;
    padding: 10px;
}

.resume ul, h3 {
    list-style: none;
    padding: 10px;
}

.resume ul li {
    padding: 5px;
}
.lead-project {
    position: relative;
    margin: 10px;
}
.lead-project img {
    width: 100%;
    height: 200px;
    border: 5px solid var(--border-and-project-title-bg-color);
}
.project {
    width: 50%;
    position: relative;
    margin: 10px;
}
.project img {
    width: 100%;
    height: 200px;
    border: 5px solid var(--border-and-project-title-bg-color);
}

.project-title {
    position: absolute;
    bottom: 20px;
    background-color: var(--border-and-project-title-bg-color);
}
.pair {
    width: 100%;
    display: flex;
    margin: 10px auto;
    flex-flow: row;
    justify-content: space-around;
}
.reach-me {
    position: relative;
}
.contact-info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
        font-size: 50px;
      }

      header h1 span {
        font-size: 40px;
        line-height: 1.2;
      }
    
      header nav ul {
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 40px;
      }
}

@media screen and (max-width: 768px) {
    .project {
        width: 100%;
    }
    .project img {
        flex: 0 32%;
    } 
}